<%- include('./partials/head'); %>
<body>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <div class="create-form general-size col-sm-12">

        <h2><%=translation.TITLE_FORM_CREATE%></h2>

        <form action="update/<%= data.product_id %>" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="productImage" class="form-label"><%=translation.IMAGE_FORM%></label>
            <input name="file" type="file" class="form-control" id="productImage" accept="image/*" required value="<%= data.product_img %>">
          </div>

            <label for="productName"><%=translation.NAME_FORM%></label>
            <input type="text" class="form-control" id="productName" rows="1" name="productName" value="<%= data.product_name %>">

            <label for="productPrice"><%=translation.PRICE_FORM%></label>
              <div class="input-group">
                <input type="number" step="any" class="form-control" id="productPrice" rows="1" placeholder="00.00" name="productPrice" value="<%= data.product_price %>">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
              </div>

            <label for="productDetail"><%=translation.DETAIL_FORM%></label>
            <textarea class="form-control" id="productDetail" rows="3" name="productDetail" value=""><%= data.product_detail %></textarea>

            <button type="submit" class="edit-button btn btn-primary" id="submitEdit" style="margin-top: 10px;"><%=translation.SUBMIT_EDIT%></button>

        </form>
      </div>
  </main>

  <%- include('./partials/footer'); %>
